<template>
    <div>

        <nav class="panel">
            <div class="panel-heading media">
                <div class="card-header-title is-paddingless is-marginless">
                    <p> Channels </p>
                </div>
                <div class="card-header-icon is-paddingless is-marginless">
                    <button @click="show" class="button is-success is-small" id="btnAddChannel">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
            </div>
            <article :key="channel._id" class="media panel-block is-marginless" v-for="channel in channels">
                <div class="media-content">
                    <router-link :to="{name: 'chat', params: {id: channel._id} }" id="link2chat">
                        <b>{{channel.topic}}</b>
                    </router-link>
                    <p>{{channel.label}}</p>
                </div>
                <div class="media-right">
                    <button @click="deleteChat(channel)" class="delete"></button>
                </div>
            </article>
            <!--<br>-->
            <!--<label class="">{{channel.label}}</label>-->
            <!--<button @click="deleteChat(channel)" class="delete is-pulled-right"></button>-->
        </nav>
        <div class="container">
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2'

    export default {
        name: "Conversations",
        data() {
            return {
                label: '',
                topic: '',
                channels: []
            }
        },
        mounted() {
            this.getChats();
        },
        methods: {
            async show() {
                const {value: formValues} = await Swal.fire({
                    title: '<strong>Create a new chat</strong>',
                    html:
                        '<div class="field"><input id="topic" type="text" placeholder="Title" class="input"/></div>' +
                        '<div class="field"><input id="label" type="text" placeholder="Description" class="input"/></div>',
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> Create!',
                    confirmButtonAriaLabel: 'Create',
                    cancelButtonAriaLabel: 'Cancel',
                    preConfirm: () => {
                        return [
                            document.getElementById('label').value,
                            document.getElementById('topic').value
                        ]
                    }
                });
                window.axios.post('channels', {
                    "label": formValues[0],
                    "topic": formValues[1]
                }).then((response) => {
                    this.getChats();
                });
            },
            deleteChat(channel) {
                window.axios.delete('channels/' + channel['_id']).then((response) => {
                    this.getChats();
                    Swal.fire(
                        'Deleted Successfully!',
                        'The channel has been deleted',
                        'success'
                    )
                })
            },
            getChats() {
                window.axios.get('channels').then((response) => {
                    this.channels = response.data;
                });
            }
        }
    }
</script>

<style scoped>
    /*#btnAddChannel {*/
    /*position: fixed;*/
    /*bottom: 10px;*/
    /*right: 10px;*/
    /*}*/

</style>