<template>
    <div>
        <nav class="panel spaceBottom">
            <div class="panel-heading media">
                <div class="media-content">
                    <div class="content">
                        <form>
                            <strong v-if="!editingTitle">{{chat['topic']}}</strong>
                            <div v-else>
                                <input class="input"
                                       placeholder="Title"
                                       style="max-width: 50%" type="text" v-model="chat.topic">
                            </div>
                            <br>
                            <p class="is-marginless is-size-6" v-if="!editingTitle">{{chat['label']}}</p>
                            <div v-else>
                                <input class="input"
                                       placeholder="Description"
                                       style="max-width: 50%" type="text" v-model="chat.label">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-header-icon is-paddingless is-marginless">
                    <a @click="editingTitle = true" id="btnEdit" v-if="!editingTitle">
                        <span class="icon is-small">
                            <i class="fa fa-pencil-alt"></i>
                        </span>
                    </a>
                    <a @click="modifyChat" id="btnSave" v-else>
                        <span class="icon is-small">
                            <i class="fas fa-check"></i>
                        </span>
                    </a>
                </div>
            </div>
            <article :key="message._id" class="media is-marginless" v-for="message in messages">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img :src="message.gravatar">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <form>
                            <a @click="viewMember(message)" class="is-bold">{{message.name}}</a>
                            <label class="tag">{{message.email}}</label>
                            <br>
                            <p v-show="!editingMessage">{{message.message}}</p>
                            <textarea :key="message._id" class="textarea" placeholder="message"
                                      rows="1" style="max-width: 50%"
                                      v-model="message.message" v-show="editingMessage"></textarea>
                            <small class="is-marginless">
                                <div v-show="isMyMessage(message)">
                                    <div v-if="!editingMessage">
                                        <a @click="deleteMessage(message)">Delete</a> ·
                                        <a @click="editMessage(message)">Edit</a>
                                    </div>
                                    <div v-else>
                                        <a @click="editingMessage = !editingMessage">Cancel</a> ·
                                    </div>
                                </div>
                                <vue-moments-ago :date="message.created_at" lang="en" suffix="ago"
                                                 v-if="!message.edited"></vue-moments-ago>
                                <vue-moments-ago :date="message.updated_at" lang="en" prefix="updated" suffix="ago"
                                                 v-else></vue-moments-ago>
                            </small>
                        </form>
                    </div>
                </div>
            </article>
        </nav>
        <!---------------------MODAL----------------------->
        <div :class="{'is-active': showModal}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{selectedMember.fullname}}</p>
                    <button @click="showModal = false" aria-label="close" class="delete"></button>
                </header>
                <section class="modal-card-body">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                                <img :src="selectedMember.gravatar">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{selectedMember.fullname}}</strong>
                                    <small class="tag is-pulled-right">{{selectedMember.email}}</small>
                                <hr class="is-marginless">
                                <strong>Member messages:</strong>
                                <article class="message is-dark" v-for="(post, index) in selectedMember.posts">
                                    <div v-if="index <= 9">
                                        <div class="message-header" style="padding-top: 1%; padding-bottom: 1%">
                                            <p>
                                                <router-link :to="{name: 'chat', params: {id: post.channel_id} }"
                                                             style="text-decoration: none">
                                                    {{post.channelName}}
                                                </router-link>
                                            </p>
                                        </div>
                                        <div class="message-body" style="padding-top: 1%; padding-bottom: 0">
                                            {{post.message}}
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </article>
                </section>

            </div>
        </div>
        <!-------------------  MODAL   ------------------------>
        <footer class="footer">
            <form @submit.prevent="sendMessage">
                <input class="input is-rounded" placeholder="Enter your message and press enter to send it" type="text"
                       v-model="message">
            </form>
        </footer>
    </div>
</template>

<script>
    import Swal from 'sweetalert2'
    import VueMomentsAgo from 'vue-moments-ago'
    import gravatar from 'gravatar-api'

    export default {
        name: "Chat",
        components: {
            VueMomentsAgo
        },
        data() {
            return {
                channelId: '',
                selectedMember: [],
                showModal: false,
                message: '',
                editedMessage: '',
                editingTitle: false,
                editingMessage: false,
                member: [],
                messages: [],
                chat: [],
                allUsers: []
            }
        },
        created() {
            this.channelId = this.$route.params.id;
        },
        mounted() {
            this.getChat();
            this.getMessages();
        },
        methods: {
            isMyMessage(message) {
                return this.$store.state.member[2] === message.member_id;
            },
            getChat() {
                window.axios.get('channels/' + this.channelId).then((response) => {
                    this.chat = response.data;
                })
            },
            modifyChat() {
                window.axios.put('channels/' + this.channelId, {
                    "label": this.chat['label'],
                    "topic": this.chat['topic'],
                }).then((response) => {
                    this.editingTitle = false
                })
            },
            sendMessage() {
                window.axios.post('channels/' + this.channelId + '/posts', {
                    "message": this.message
                }).then((response) => {
                    this.message = "";
                    this.getMessages();
                })
            },
            getMessages() {
                window.axios.get('channels/' + this.channelId + '/posts').then((response) => {
                    response.data.reduce(
                        function (sequence, msg) {
                            return sequence.then(function () {
                                return window.axios.get('members/' + msg.member_id + '/signedin')
                                    .then((response) => {
                                        msg.name = response.data.fullname;
                                        msg.email = response.data.email;
                                    })
                            }).then(function (obj) {
                            });
                        },
                        Promise.resolve()).then(() => {
                        response.data.forEach(msg => {
                            if (msg.created_at === msg.updated_at) {
                                msg.edited = false
                            } else {
                                msg.edited = true
                            }
                            users.forEach(user => {

                                if (msg.member_id === user._id) {
                                    msg.name = user.fullname;
                                    msg.email = user.email;
                                    msg.gravatar = gravatar.imageUrl({
                                        email: user.email,
                                        parameters: {
                                            "d": "https://png.pngtree.com/svg/20160308/_user_profile_icon_1108089.png",
                                            "s": 200
                                        },
                                    })

                                }
                            })
                        });
                        this.messages = response.data;
                        this.$store.commit('setPost', response.data);
                    });
                });

                let users;
                window.axios.get('members').then((response) => {
                    users = response.data
                });
                // window.axios.get('channels/' + this.channelId + '/posts').then((response) => {
                //     this.messages = response.data
                // });
            },
            deleteMessage(message) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        window.axios.delete('channels/' + this.channelId + '/posts/' + message._id).then((response) => {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            ).then(result => this.getMessages());
                        });
                    }
                })
            },
            async editMessage(message) {
                const {value: formValues} = await Swal.fire({
                    title: '<strong>Edit message</strong>',
                    html:
                        '<div class="field"><input id="message" type="text" placeholder="Title" class="input"/></div>',
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText:
                        'Edit',
                    confirmButtonAriaLabel: 'Edit',
                    cancelButtonAriaLabel: 'Cancel',
                    preConfirm: () => {
                        return [
                            document.getElementById('message').value,
                        ]
                    }
                });
                window.axios.put('channels/' + this.channelId + '/posts/' + message._id, {
                    "message": formValues[0],
                }).then((response) => {
                    this.editingMessage = false;
                    this.getMessages();
                    Swal.fire('Hey', 'Message edited successfully', 'success');
                    location.reload();
                })
            },
            getMembers(id) {
                window.axios.get('members').then((response) => {
                    let memberslist = [];
                    let userPosts = [];
                    let user = {};
                    memberslist = response.data;
                    memberslist.forEach((obj) => {
                        obj.gravatar = gravatar.imageUrl({
                            email: obj.email,
                            parameters: {
                                "d": "https://png.pngtree.com/svg/20160308/_user_profile_icon_1108089.png",
                                "s": 200
                            },
                        });
                        userPosts = this.filterMessages(obj._id);
                        obj.posts = userPosts;
                        if (obj._id === id) {
                            user = obj;
                        }
                    });
                    this.selectedMember = user;
                })
            },
            filterMessages(memberId) {
                let posts = [];
                window.axios.get('channels').then((resp) => {
                    resp.data.forEach(channel => {
                        window.axios.get('channels/' + channel._id + '/posts')
                            .then(resp => {
                                resp.data.forEach(post => {
                                    post.channelName = channel.topic;
                                    if (post.member_id === memberId) {
                                        posts.push(post);

                                    }
                                });
                                posts.sort(function (a, b) {
                                    return new Date(b.created_at) - new Date(a.created_at);
                                });
                            });
                    });
                });
                return posts;
            },
            viewMember(post) {
                this.showModal = !this.showModal;
                this.getMembers(post.member_id)
            },
        }
    }
</script>

<style scoped>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 2%;
        padding-top: 2%;
        background-color: #00D1B2;
    }

    .spaceBottom {
        margin-bottom: 10%;
    }
</style>