<template>
    <div class="home">
        <img alt="Vue logo" src="https://lh3.googleusercontent.com/VfpdFf3jaMj51B84gO8yiOtlp9ezTU0ByQ9UK6SIEvAiv5NDOgy7DYRzgbpCnETnX6s">
        <HelloWorld msg="MINISLACK made by..."/>
        <h4>Omar Jalil Fierro López</h4>
        <h4>Ruben De Jesus Conde Magaña</h4>
    </div>
</template>

<script>
    import HelloWorld from '../components/HelloWorld.vue'

    export default {
        name: 'home',
        components: {
            HelloWorld
        }
    }
</script>