<template>
    <div class="columns" id="signIn">
        <div class="column is-offset-one-third is-one-third">
            <figure class="image is-rounded is-128x128">
                <img src="https://cdn.onlinewebfonts.com/svg/img_568656.png">
            </figure>
            <br>
            <form @submit.prevent="login">
                <div class="field">
                    <!--<label class="label">Email</label>-->
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" placeholder="Email" required type="email" v-model="email">
                        <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    </div>
                </div>
                <div class="field">
                    <!--<label class="label">Password</label>-->
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" placeholder="Password" required type="password" v-model="password">
                        <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                    </div>
                </div>
                <button class="button is-info">Log In</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                email: "",
                password: "",
            }
        },
        mounted() {
            if (this.memberIsConnected()) {
                this.$router.push("/channels");//Goes to main screen
            }
        },
        methods: {
            login() {
                window.axios.post('members/signin', {
                    "email": this.email,
                    "password": this.password
                }).then((response) => {
                    this.$store.commit('setToken', response.data.token);

                    this.$store.commit('setMember', [
                        response.data.fullname,
                        response.data.email,
                        response.data._id,
                    ]);

                    console.log("storeCo " + this.$store.state.token);

                    location.reload(); //needed to hide the connexion button, for some reason

                    this.$router.push("/channels");
                })
            }
        }
    }

</script>

<style scoped>
    figure {
        margin: auto;
    }
</style>