<template>
    <div id="members">
        <nav class="panel">
            <div class="panel-heading media">
                <div class="card-header-title is-paddingless is-marginless">
                    <p> Members </p>
                </div>
            </div>
            <article :key="member._id" class="media panel-block is-marginless" v-for="member in members">
                <figure class="media-left">
                    <p class="image is-32x32">
                        <img :src="member.gravatar">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a @click="viewMember(member)">{{member.fullname}}</a>
                            <!--<small class="tag">{{member.email}}</small>-->
                        </p>
                    </div>
                </div>
                <div class="media-right">
                    <button @click="deleteMember(member)" class="delete"></button>
                </div>
            </article>
        </nav>

        <div :class="{'is-active': showModal}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{selectedMember.fullname}}</p>
                    <button @click="showModal = false" aria-label="close" class="delete"></button>
                </header>
                <section class="modal-card-body">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                                <img :src="selectedMember.gravatar">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{selectedMember.fullname}}</strong>
                                    <small class="tag is-pulled-right">{{selectedMember.email}}</small>
                                <hr class="is-marginless">
                                <strong>Member messages:</strong>
                                <article class="message is-dark" v-for="(post, index) in selectedMember.posts">
                                    <div v-if="index <= 9">
                                    <div class="message-header" style="padding-top: 1%; padding-bottom: 1%" >
                                        <p>
                                            <router-link :to="{name: 'chat', params: {id: post.channel_id} }"
                                                         style="text-decoration: none">
                                                {{post.channelName}}
                                            </router-link>
                                        </p>
                                    </div>
                                    <div class="message-body" style="padding-top: 1%; padding-bottom: 0">
                                        {{post.message}}
                                    </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </article>
                </section>

            </div>
        </div>
    </div>
</template>

<script>
    import swall from 'sweetalert2'
    import gravatar from 'gravatar-api'

    export default {
        name: "Members",
        data() {
            return {
                members: [],
                selectedMember: [],
                showModal: false,
                posts: []
            }
        },
        methods: {
            getMembers() {
                window.axios.get('members').then((response) => {
                    let memberslist = [];
                    let userPosts = [];
                    memberslist = response.data;
                    memberslist.forEach((obj) => {
                        obj.gravatar = gravatar.imageUrl({
                            email: obj.email,
                            parameters: {
                                "d": "https://png.pngtree.com/svg/20160308/_user_profile_icon_1108089.png",
                                "s": 200
                            },
                        });
                        userPosts = this.filterMessages(obj._id);
                        obj.posts = userPosts
                    });
                    this.members = memberslist;
                })
            },
            filterMessages(memberId) {
                let posts = [];
                window.axios.get('channels').then((resp) => {
                    resp.data.forEach(channel => {
                        window.axios.get('channels/' + channel._id + '/posts')
                            .then(resp => {
                                resp.data.forEach(post => {
                                    post.channelName = channel.topic;
                                    if (post.member_id === memberId) {
                                        posts.push(post);

                                    }
                                });
                                posts.sort(function (a,b) {
                                    return new Date(b.created_at) - new Date(a.created_at);
                                });
                            });
                    });
                });
                return posts;
            },
            deleteMember(member) {
                let conectedId = JSON.parse(localStorage.getItem('store')).member[2];
                if (member['_id'] === conectedId) {
                    swall.fire("Calm down!",
                        "You can't delete your user",
                        'error')
                } else {
                    swall.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.value) {
                            window.axios.delete('members/' + member['_id']).then((response) => {
                                this.getMembers();
                                let posts = this.$store.state.posts;
                                posts.forEach((post) => {
                                    if (post.member_id == member['_id']) {
                                        window.axios.delete('channels/' + post.channel_id + '/posts/' + post._id)
                                            .then((response) => {
                                            })
                                    }
                                });
                                swall.fire(
                                    'Deleted!',
                                    'The user has been deleted.',
                                    'success'
                                );
                            });
                        }
                    });
                }
            },
            viewMember(member) {
                this.showModal = !this.showModal;
                this.selectedMember = member;
            },
        },
        mounted() {
            this.getMembers();
        }
    }
</script>

<style scoped>

</style>