<template>
    <div id="signup">
        <div class="column is-offset-one-third is-one-third">

            <figure class="image is-rounded is-128x128">
                <img src="https://image.flaticon.com/icons/svg/166/166260.svg">
            </figure>
            <br>
            <form @submit.prevent="signUp">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" placeholder="Full name" required type="text" v-model="fullName">
                        <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" placeholder="Email" required type="email" v-model="email">
                        <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" placeholder="Password" required type="password" v-model="password">
                        <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" placeholder="Verify Password" required type="password" v-model="passwordV">
                        <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                    </div>
                </div>
                <button class="button is-info">Sign Up</button>
            </form>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2'

    export default {
        name: "SignUp",
        data() {
            return {
                fullName: '',
                email: '',
                password: '',
                passwordV: ''
            }
        },
        methods: {
            signUp() {
                if (this.password === this.passwordV)
                    window.axios.post('members', {
                            "fullname": this.fullName,
                            "email": this.email,
                            "password": this.password
                        },
                    ).then((response) => {
                        //connects the user right after he registered
                        window.axios.post('members/signin', {
                            "email": this.email,
                            "password": this.password

                        }).then((response) => {

                            this.$store.commit('setToken', response.data.token);
                            this.$store.commit('setMember', [
                                response.data.fullname,
                                response.data.email,
                                response.data._id,
                            ]);
                            location.reload(); //needed to hide the connexion button, for some reason
                            this.$router.push("/");

                        }).catch((error) => {
                            alert(error.response.data.error);
                        });
                    }).catch(e => alert(e.response.data.error));
                else
                    Swal.fire('Invalid','Your password and confirmation password do not match.','warning');
            }
        }
    }
</script>

<style scoped>
    figure {
        margin: auto;
    }
</style>