<template>
    <div class="container" id="app">
        <nav aria-label="main navigation" class="navbar" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img height="28" src="https://bulma.io/images/bulma-logo.png" width="112">
                </a>
                <a :class="{'is-active': showMenu}" @click="showMenu=!showMenu" aria-expanded="false" aria-label="menu"
                   class="navbar-burger burger" data-target="navbarBasicExample"
                   role="button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div :class="{'is-active': showMenu}" class="navbar-menu">
                <div class="navbar-start" v-if="this.isConnected">
                    <router-link class="navbar-item" to="/channels">Channels</router-link>
                    <router-link class="navbar-item" to="/members">Members</router-link>
                </div>
                <div class="navbar-start" v-else>
                    <router-link class="navbar-item" to="/connexion">Login</router-link>
                    <router-link class="navbar-item" to="/createAccount"> Create An Account</router-link>
                </div>

                <div class="navbar-end" v-if="this.isConnected">
                    <router-link class="navbar-item" to="/">
                        <span @click="logOut"> Log Out</span>
                    </router-link>
                </div>
            </div>
        </nav>
        <router-view/>
    </div>
</template>

<script>

    export default {
        name: 'app',
        data() {
            return {
                applicationReady: false,
                isConnected: false,
                showMenu: false
            }
        },
        mounted() {
            this.isConnected = this.memberIsConnected();
            this.getAllChannels();
            this.getAllPosts();

            if (!this.isConnected) {
                this.$router.push("/connexion");
            }

            window.axios.get('ping').then((response) => {
                this.applicationReady = true;
                console.log(response.data);
                console.log("axios " + window.axios.defaults.params.token);
                console.log("store " + this.$store.state.token);

            }).catch((error) => {
                this.applicationReady = false;
                alert(error.message);
            });
        },
        methods: {
            logOut() {
                this.isConnected = false;
                this.$store.commit('setToken', false);
                this.$store.commit('setMember', false);
                location.reload();
                this.$router.push("/connexion");
                localStorage.clear();
                window.axios.delete('members/signout').then((response) => {
                    console.log(response.data)
                });
            },
            getAllChannels(){
              window.axios.get('channels').then((resp) => {
                  this.$store.commit('setChannels', resp.data);
              });
            },
            getAllPosts(){
                let posts = [];
                let channels = this.$store.state.channels;

                channels.forEach(channel => {
                    window.axios.get('channels/'+channel._id+'/posts')
                        .then(resp => {
                            resp.data.forEach(post => {
                                posts.push(post);
                            });
                        });
                });

                this.$store.commit('setPost', posts);
            }
        }
    }

</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    #nav {
        padding: 30px;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }

    #nav a.router-link-exact-active {
        color: #42b983;
    }

</style>
